body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  
    font-family: 'roboto', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.section {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.no-scroll{
  overflow: hidden;
  // height: 100vh;
  // width: 100vw;
}