.benefits {
  padding: 60px 0px;

  @media screen and (min-width: $desktop) {
    padding: 94px 0px;
  }
}

.benefits-list {
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: var(--our-command-background-button-portfolio-color);

    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 354px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }



  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }

    @media screen and (min-width: $tablet) {
      width: 354px;
      margin-bottom: 0px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
}

.benefits-list__item:not(:last-child) {
  margin-bottom: 30px;
}